<div class="center jumbotron">
  <h1>welcome to ping</h1>

  <h2>
  	The microblogging platform for web developers ... and those that want to be.
	</h2>
	  
  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>