


/*
	===================================
		Sass Global Variables
	===================================
*/

/* header */

$header-bgcolor: #71B340;
$header-logo-color: #FFFFFF;
$header-navbar-link-color: #FFFFFF;

$header-small-navbar-link-bgcolor: lighten($header-bgcolor, 12%);

$banner-color: #FF0000;
