@import "bootstrap-sprockets";
@import "bootstrap";

/* variable declarations */

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

header.navbar-inverse {
  background-color: #71B340;
  border-color: #71B340;

  nav {
    ul.navbar-right {
      li {
        a {
          color: #ffffff;
          font-weight: bold;

          &:hover {
            color: #000000;
          }
        }        
      }
    }
  }
}

#logo {
  font-family: "Ubuntu";
  font-weight: 700;
  float: left;  
  font-size: 2em;
  color: #fff;
  text-transform: lowercase;  
  padding-top: 5px;
  padding-bottom: 5px;  
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}


/* home page */

#hero-banner {
  background-color: purple;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;  

  ul {
    list-style: none;        

    li {
      float: left;
      margin-left: 15px;      

      a {
        color: #999;

        &:hover {
          color: #2D7DD2;   
        }          
      }      
    }    
  }
}
