<footer class="footer">
	<small>
		Sample Twitter Clone <a href="https://www.railstutorial.org">from railstutorial.org</a>
	</small>

	<nav>
    <ul>
      <li><%= link_to "Home", '#' %></li>
      <li><%= link_to "About", '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><%= link_to "Help", '#' %></li>
    </ul>
  </nav>
</footer>