<header id="header-small">
  <div id="container-brand">
    <%= link_to "ping", '#', id: "logo" %>
  </div>
  <nav id="navbar-top">
    <ul>
        <li><%= link_to "Sign Up", '#' %></li>
        <li><%= link_to "Log In", '#' %></li>            
    </ul>
  </nav>
</header>